/* TODO need to change the colors to hex */
a,
p {
  font-family: arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
}

a {
  text-decoration: none;
}

a:hover:not(.blue-button):not(.square-icon) {
  text-decoration: underline;
}

#main-logo {
  margin-top: 46px;
  margin-bottom: 24px;
}

#search-icon {
  margin-left: 0px;
  position: relative;
  left: 44px;
  top: 5px;
  opacity: 0.35;
}

#search-bar {
  width: 590px;
  height: 43px;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding-left: 46px;
}

#search-buttons {
  margin-top: 20px;
}

#search-buttons button {
  background-color: #f8f9fa;
  border: none;
  width: 135px;
  height: 34px;
  font-size: 13px;
  border-radius: 4px;
  margin: 4px;
}

#search-buttons button:hover {
  box-shadow: inset 0 0 3px #cacaca;
}

#offered-language {
  font-size: 13px;
  position: relative;
  top: 19px;
}

#offered-language a {
  color: #1a0dab;
}

#offered-language a:hover {
  text-decoration: underline;
}

/* TODO Left here, what is the best way to separate the buttons? */

.blue-button {
  color: white;
  background: #3e77d8;
  display: inline-block;
  width: 71px;
  height: 32px;
  vertical-align: middle;
  text-align: center;
  line-height: 33px;
  font-weight: bold;
}

.blue-button:hover {
  transform: scale(1.02);
}

.square-icon {
  background-image: url(../resources/i1_1967ca6a.png);
  background-size: 528px 68px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  display: inline-block;
  background-position: -127px -36px;
  opacity: 0.55;
  color: #000;
  cursor: pointer;
  text-decoration: none;
  background-repeat: no-repeat;
}

.square-icon:hover {
  opacity: 1;
}

#main-app {
  text-align: center;
  margin-top: 60px;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  margin: 12px;
  opacity: 0.95;
  font-size: 13px;
  align-items: center;
  margin-right: 37px;
}

li {
  list-style: none;
  /* TODO need to verify if this is correct for all li */
  display: inline-block;
}

.navbar li {
  margin: 4px;
  margin-right: 10px;
  display: inline-block;
}

input {
  width: 40%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("./resources/searchicon.png");
  background-position: 10px 10px;
  background-size: 20px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

svg {
  width: 20px;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #f2f2f2;
}

footer span,
footer a {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.54);
  font-family: arial, sans-serif;
}

footer > div {
  padding: 10px 50px 16px 21px;
}

ul {
  padding: 0;
  margin: 0;
}

#footer-links {
  border-top: 0.5px rgba(0, 0, 0, 0.14) solid;
}

#footer-links ul {
  display: flex;
  justify-content: space-between;
}

#footer-info-1 li {
  margin-right: 25px;
}

#footer-info-2 li {
  margin-left: 25px;
}
